

body { padding-top:50px;
	padding: 120px 0 50px 0; 
	}

.header { 
    position: fixed; 
    height: 100px; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    background: #bada55; 
} 
.footer { 
    position: fixed; 
    height: 30px; 
    width: 100%; 
    bottom: 0; 
    z-index: 1000; 
    background: #facade; 
} 
.fixfixed .header, 
.fixfixed .footer { 
    position: absolute; 
} 


.navbar-inverse{
  background-color: #520063; 
}



#searchfield {margin:10px auto;}

#outputcontent{text-align:center;}

#autocomplete{outline:none;}

.autocomplete-suggestions {height:15%; border: 1px solid #999; background: #fff; cursor: default;  }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1em; white-space: nowrap;  }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

#results{margin:0px;padding:0px;}

#results th{font-size: 10px;padding:20px;}

#results td{
  font-size: 15px;
  padding:20px 10px;
}

#results .glyphicon-sort{
padding-left: 5px;

}



.navbar-fixed-bottom{background: rgba(255, 255, 255, 1.0);}

.col-xs-4{padding:8px 0px;}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
