body { padding-top:50px;}




.navbar-inverse{background-color: #520063;}

#content{margin-top:50px;padding:0 15px;margin-bottom:50px;}

#searchfield {margin:10px auto; outline:none;}

#outputcontent{text-align:center;}

#autocomplete{outline:none;}

#tutor-list{margin-top:-30px;}

#tutor-list a{text-decoration: none;color:inherit;}

.tutor-link{border-bottom:1px solid gray;}
.tutor-link:active{background-color: #DCDCDC;cursor:pointer;}
.tutor-link .col-sm-2{padding:20px;}

.navbar-fixed-bottom{background: rgba(255, 255, 255, 1.0);}

.col-xs-4{padding:8px 0px;}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
