#header .container{color:white;}

.navbar h3{margin-top:30px;}
#profile-top{
	width:100%;
	height:20%;
}

#profile-bottom{
	width:100%;
	margin:0px;
	margin-top:-20px;
}

.back{
	cursor:pointer;
	color:white;
}

.tab-pane{padding:4%;}

#profpic{width:30%;float:left;}

#aboutbox{float:right;width:65%;height:30%;margin-top:-20px;}