#header .container{color:white;}

.navbar h3{margin-top:40px;}
#profile-top div{border:0px solid black;}

#profile-bottom{border:0px solid black;width:100%;height:250px;}

#profpic{width:100%;}

.back{
	cursor:pointer;
	color:white;
}

.nav-pills li{width:15%;font-size:1em;}

.nav>li>a{
	position:relative;
	display:block;
	padding:10px 5px;
}
/*.tab-pane{padding:4%;}
