#header .container{color:white;}

.navbar h3{margin-top:40px;}

#profile-top{margin-top:40px;}

#profpic{width:75px;height:75px;border:2px solid black;}
#profinfo{text-align: left;padding-top:10px;}

.back{
	cursor:pointer;
	color:white;
}

.panel .panel-title a{text-decoration: none;}
#edit{background: #2a2a2a;color:white;width:75px;outline:none;}
#edit:active, #edit:hover{background: #222222;}
